

{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/appMedia.css') }}">
{% endblock %}


{% block title %}La Besnerie{% endblock %}



{% block body %}
    
   <ul>
        <li><a href="{{ path('accueil') }}">Accueil</a></li>
        <li><a href="{{ path('presentation') }}">Presentation</a></li>
        <li><a href="{{ path('produit') }}">Boutique</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        {% if not app.user %}
            <li><a href="{{ path('register') }}">S'enregistrer</a></li>
        {% endif %}
        {% if not app.user %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
        {% if app.user %}
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% endif %}
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            <li><a href="{{ path('admin') }}" class="btn">Dashboard</a></li>
        {% endif %}
    </ul>

    <div class="color-band"></div>

    <div class="img_body">

        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image0_resultat.webp') }}" alt="image0">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image1_resultat.webp') }}" alt="image1">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image2_resultat.webp') }}" alt="image2">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image3_resultat.webp') }}" alt="image3">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image4_resultat.webp') }}" alt="image4">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image5_resultat.webp') }}" alt="image5">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image6_resultat.webp') }}" alt="image6">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image7_resultat.webp') }}" alt="image7">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image8_resultat.webp') }}" alt="image8">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image9_resultat.webp') }}" alt="image9">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image10_resultat.webp') }}" alt="image10">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image11_resultat.webp') }}" alt="image11">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image12_resultat.webp') }}" alt="image12">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image13_resultat.webp') }}" alt="image13">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image14_resultat.webp') }}" alt="image14">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image15_resultat.webp') }}" alt="image15">
        <img class="zoomable-image" data-modal="image-modal" src="{{ asset('images/image16_resultat.webp') }}" alt="image16">

    </div>
    
    <div id="image-modal" class="modal">
        <span class="close">&times;</span>
        {# class pour css, id pour js #}
        <img class="modal-content" id="modal-image">
    </div>

{% endblock %}

