{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a href="{{ path('accueil') }}">Accueil</a></li>
        <li><a href="{{ path('presentation') }}">Presentation</a></li>
        <li><a href="{{ path('media') }}">Media</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        <li><a href="{{ path('app_login') }}">Connexion</a></li>
        <li><a href="{{ path('register') }}">S'enregistrer</a></li>
    </ul>

    <div class="color-band"></div>

    <h1>Ajouter un produit</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}