{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/appProductID.css') }}">
{% endblock %}


{% block title %}Produit - {{ produit.name }}{% endblock %}

{% block body %}

    <nav>
        <ul class="main-nav main-nav-top">
            <li><a href="{{ path('accueil') }}">Accueil</a></li>
            <li><a href="{{ path('presentation') }}">Presentation</a></li>
            <li><a href="{{ path('media') }}">Media</a></li>
            <li><a href="{{ path('produit') }}">Boutique</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
        <ul class="main-nav main-nav-bottom">
            {% if not app.user %}
                <li><a href="{{ path('register') }}">S'enregistrer</a></li>
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% endif %}
            {% if app.user %}
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% endif %}
            {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                <li><a href="{{ path('admin') }}" class="btn">Tableau de bord</a></li>
            {% endif %}
        </ul>
    </nav>


    <div class="color-band"></div>

    <div class="product-details">
        <h1>{{ produit.name }}</h1>
        <p class="product-description">{{ produit.description }}</p>
        <p class="product-price">Prix : <strong>{{ produit.price }} €</strong></p>
        <p class="product-category">Catégorie : <em>{{ produit.category }}</em></p>
        {% if produit.imageMain %}
            <img class="product-image" src="{{ asset('uploads/images/' ~ produit.imageMain) }}" alt="{{ produit.name }}">
        {% endif %}
        <form action="{{ path('cart_add', {'id': produit.id}) }}" method="post" style="margin-top: 2em;">
            <label for="quantite">Quantité :</label>
            <input type="number" id="quantite" name="quantite" value="1" min="1" required style="width: 60px; margin-left: 0.5em; margin-right: 1em;">
            <p>Nombre total de produits dans le panier : {{ totalProduits }}</p>
            <div class="product-details"><h1>{{ produit.name }}</h1></div>
            <button type="submit" class="btn">Ajouter au panier</button>
        </form>
    </div>
   
    <a href="{{ path('produit') }}"style="
        display: inline-block;
        margin-bottom: 10px;
        padding: 5px 5px;
        font-size: 1rem;
        font-weight: bold;
        color: #black;
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease, transform 0.2s ease;
    ">Retour à la liste des produits</a> 
{% endblock %}