{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block body %}

    <ul>
        <li><a href="{{ path('accueil') }}">Accueil</a></li>
        <li><a href="{{ path('presentation') }}">Presentation</a></li>
        <li><a href="{{ path('media') }}">Media</a></li>
        <li><a href="{{ path('produit') }}">Boutique</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        {% if not app.user %}
            <li><a href="{{ path('register') }}">S'enregistrer</a></li>
        {% endif %}
        {% if not app.user %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
        {% if app.user %}
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% endif %}
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            <li><a href="{{ path('admin') }}" class="btn">Dashboard</a></li>
        {% endif %}
    </ul>


    <div class="color-band"></div>

    <h1>Merci pour votre commande !</h1>
    <p>Votre commande a été validée avec succès.</p>
    <p>Votre commande sera à récupérer à la boutique de la ferme lorsque vous recevrez notre e-mail ou qu'on vous contacteras par téléphone.</p>   
    <a href="{{ path('produit') }}">Retour à la liste des produits</a>
{% endblock %}