

{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/appAccueil.css') }}">
{% endblock %}

{% block title %}La Besnerie{% endblock %}



{% block body %}
    
    {# <h1>La Ferme de la Besnerie</h1> #}

    <ul>
        <li><a href="{{ path('presentation') }}">Presentation</a></li>
        <li><a href="{{ path('media') }}">Media</a></li>
        <li><a href="{{ path('produit') }}">Boutique</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        <li><a href="{{ path('app_login') }}">Connexion</a></li>
        <li><a href="{{ path('register') }}">S'enregistrer</a></li>
    </ul>

    <div class="color-band"></div>

    <div class="text_body">
        <p>Bienvenue sur le site de la Ferme de la Besnerie !</p>

        <p>
            Exploitation agricole de polyculture - élevage <br>
            situé à Chahaignes en Sarthe (72)
        </p>
    </div>
    
{% endblock %}
