{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/appAccueil.css') }}">
{% endblock %}

<body>
    <header>
        <img src="{{ asset('images/pancarte_besnerie_V2_resultat.webp') }}" alt="pancarte">
    </header>
    
    {% block body %}
        <nav>
            <ul class="main-nav main-nav-top">
                <li><a href="{{ path('presentation') }}">Présentation</a></li>
                <li><a href="{{ path('media') }}">Media</a></li>
                <li><a href="{{ path('produit') }}">Boutique</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
            <ul class="main-nav main-nav-bottom">
                {% if not app.user %}
                    <li><a href="{{ path('register') }}">S'enregistrer</a></li>
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}
                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    <li><a href="{{ path('app_account_password') }}">Changer le mot de passe</a></li>
                {% endif %}
                {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                    <li><a href="{{ path('admin') }}" class="btn">Tableau de bord</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="color-band"></div>

        <div class="text_body">
            <p>Bienvenue sur le site de la Ferme de la Besnerie !</p>
            <p>
                Exploitation agricole de polyculture - élevage <br>
                situé à Chahaignes en Sarthe (72)
            </p>
        </div>
    {% endblock %}

    <footer>
        <div class="footer-img-container">
            <img src="{{ asset('images/footer_final.jpg') }}" alt="banniere">
            <div class="footer-content">
                <p>La Besnerie, 72340 Chahaignes</p>
                <ul>
                    <li><a href="{{ path('cgv') }}">Conditions générales Utilisation</a></li>
                    <li><a href="{{ path('confidentialite') }}">Politique de confidentialité</a></li>
                    <li><a href="{{ path('mention') }}">Mentions légales</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>