

{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/appAccueil.css') }}">
{% endblock %}

{% block title %}La Besnerie{% endblock %}



{% block body %}
    

    <ul>
        <li><a href="{{ path('accueil') }}">Accueil</a></li>
        <li><a href="{{ path('presentation') }}">Presentation</a></li>
        <li><a href="{{ path('media') }}">Media</a></li>
        <li><a href="{{ path('produit') }}">Boutique</a></li>
    </ul>

    <div class="color-band"></div>

    <div class="text_body">
        
    </div>
    
{% endblock %}
