{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <h1>Mon Panier</h1>

    {# Affichage du total du panier #}
    <p><strong>Nombre total de produits dans le panier : {{ totalProduits }}</strong></p>
    <p><strong>Prix total du panier : {{ totalPrix|number_format(2, ',', ' ') }} €</strong></p>
    
    {% if cart is empty %}
        <p>Votre panier est vide.</p>
    {% else %}
        <ul>
            {% for item in cart %}
                <li>
                    <img src="{{ asset('uploads/images/' ~ item.product.imageMain) }}" alt="{{ item.product.name }}" style="max-width: 100px; max-height: 100px;">
                    {{ item.product.name }} - {{ item.product.price }} € x {{ item.quantity }}

                    <form method="post" action="{{ path('cart_remove_quantity', {'id': item.product.id}) }}" style="display:inline;">
                        <input type="number" name="quantite" value="1" min="1" max="{{ item.quantity }}" style="width: 60px;">
                        <button type="submit" class="btn btn-warning">Retirer</button>
                    </form>

                    <form method="post" action="{{ path('cart_remove', {id: item.product.id}) }}" style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ item.product.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>

                </li>
            {% endfor %}
        </ul>
            <a href="{{ path('summary') }}" style="
                display: inline-block;
                padding: 7px 7px;
                font-size: 1rem;
                font-weight: bold;
                color: #black;
                background-color:rgb(255, 255, 255);
                border: none;
                border-radius: 5px;
                text-decoration: none;
                text-align: center;
                transition: background-color 0.3s ease, transform 0.2s ease;
            ">Valider le panier</a>
    {% endif %}

        <a href="{{ path('produit') }}" style="
            display: inline-block;
            padding: 7px 7px;
            font-size: 1rem;
            font-weight: bold;
            color: #black;
            background-color:rgb(255, 255, 255);
            border: none;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            transition: background-color 0.3s ease, transform 0.2s ease;
        ">Continuer vos achats</a>
    {% endblock %}